.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
stock_data_cache/
reports/
logs/
quant_data.db-shm
quant_data.db-wal
.vscode/
test.py
completed_financial_codes.txt
quant_data.db:Zone.Identifier
*.db